.footer__container {
    
    display: flex;
    justify-content: space-between;
    justify-items: stretch;
    flex-direction: row;
    width: calc(100% - 48px * 2);
    margin: 0 auto 24px auto;
    
    
}
@media screen and (max-width: 1023px) {
    .footer__container {
        width: calc(100% - 24px * 2);
        
    }
}
@media screen and (max-width: 767px) {
    .footer__container {
        width: calc(100% - 16px - 118px);
        flex-direction: column;
        
        transform: translate(16px);
        margin: 0 0 24px 0;
        
    } 
}