.intro__container {
   
    width: calc(100% - 148px - 442px);
    margin: 114px 0 92px 0;
    transform: translate(148px);
}
@media screen and (max-width: 1279px) {
    .intro__container {
        width: calc(100% - 48px - 286px);
        margin: 110px 0 88px 0;
        transform: translate(48px);
        
    }
}

@media screen and (max-width: 1023px) {
    .intro__container {
        width: calc(100% - 24px * 2);
        margin: 110px auto 88px auto ;
        transform: translate(0);
        
    }
}

@media screen and (max-width: 767px) {
    .intro__container {
        width: calc(100% - 16px * 2);
        margin: 64px auto ;
        transform: translate(0);
    }    
}
