.lead__title {
    border: 1px solid red;
    color: #ffffff;
    
    max-width: 720px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    line-height: 6.25rem;
    font-size: 6rem;
    


    
    
}