.lead__subtitle {
   
    max-width: 640px;
    margin: 0 auto 64px auto;
    text-align: center;
    line-height: 36px;
    font-size: 30px;
    font-weight: normal;
}
    
    


@media screen and (max-width: 767px) {
    .lead__subtitle {
        line-height: 20px;
        font-size: 16px;
        max-width: 288px;
        
    }
}

    