.lead__subtitle {
    border: 1px solid red;
    color: #ffffff;
    margin: 32px auto 64px auto;
    max-width: 640px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 2.25rem;
    font-size: 1.9rem;
    font-weight: normal;

}

    