.cover__overlay {
    height: calc(min(1184px, 100vw) * (740/1184));
    object-fit: cover;
    background-image: url(../../../images/cover__image.png);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: #ffffff;
    position: relative;

}
.cover__overlay:before {
    content: '';
    position: absolute;
    background-image: url(../../../images/__overlay.png);
    /* opacity: .3; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.cover__overlay:hover:before {
    opacity: .8;
    background-image: url(../../../images/__overlay-black.png);
   

} 