.header__container {
    
    width: calc(100% - 48px * 2);
    display: flex;
    justify-content: space-between;
    margin: 28px auto 56px auto;
}
@media screen and (max-width: 1279px) {
    .header__container {
        width: calc(100% - 48px * 2);
        margin: 28px auto 48px auto;
    }
}
@media screen and (max-width: 1023px) {
    .header__container {
        width: calc(100% - 24px * 2);
        margin: 28px auto 48px auto;
    }
}
@media screen and (max-width: 767px) {
    .header__container {
        width: calc(100% - 16px * 2);
        margin: 16px auto 48px auto;
    }
}