.place {
    
    width: calc(100% - 148px * 2);
    margin: 0 auto 80px auto;
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
    
}
@media screen and (max-width: 1279px) {
    .place {
        width: calc(100% - 48px * 2);
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
}
@media screen and (max-width: 1023px) {
    .place {
        width: calc(100% - 24px * 2);
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
    }
}
@media screen and (max-width: 767px) {
    .place {
        gap: 32px;
        grid-template-columns: 1fr;
        width: 100%;
        margin-bottom: 64px;
    }
}